
.main{ /*styling entire main*/
    height: calc(100vh - 134px);
    background-color: #f1f1f1;
    padding:20px 0px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.middlebox{  /*styling the main box of calculator*/
    display:flex;
    flex-direction: column;
    border-radius:12px;
    width:fit-content;
    background-color: white;
    height:fit-content;
    box-shadow: -5px 5px 16px 0px #b3b3b3;
    font-weight: 500;
    font-style: normal;
}

.display-area{ /*styling the display area */
    border-radius:12px;
    margin:16px;
    height:160px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: right;
}

.display-box{ /*styling the actual display box inside display aea where the calculations and answer is seen*/
    width:338px; 
    display: block;
    overflow-x: auto;
    padding:0px;
    margin-bottom: 5px;
    font-size: 56px;
}

.display-box::-webkit-scrollbar{ /*adding horizontal scroll to the display box */
    display:none;
}

.dynamic-display-box{  /*styling the dynamic display box inside the display area where the answer is shown dynamically*/
    display: block;
    width:338px;
    overflow-x:auto;
    padding:0px;    
    font-size: 30px;
    font-weight: 300;
    padding: 0px;
}

.dynamic-display-box::-webkit-scrollbar{  /*adding horizontal scrolbar to the dynamic display box*/
    display:none;
}

.calc-btns-container{ /*styling the container of the buttons of the calculator*/
    display:flex;
    flex-direction: column;
    border-radius:17px;
    padding-top:15px;
    padding-bottom: 15px;
    box-shadow: 0px -4px 6px 0px #d4d4d4;
}

.calc-btn-row{ /*styling a single row of calculator buttons */
    display:flex;
    flex-direction: row;
    padding:4px;
    margin:3px;    
}

.calc-btn{ /*styling an individual calculator button*/
    height:65px;
    width:65px;
    border-radius:50%;
    color: #1e1e1e;
    margin:3px 12px;
    text-align: center;
    align-content: center;
    font-size:36px;
    font-weight:500;   
}

.calc-btn.num-btn{  /*styling the numerical calculator buttons ( 1 2 3 4 5 6 7 8 9 0 )*/
    font-size:27px;
    font-weight:500;
}

.calc-btn#all-clear-btn{  /*styling the all clear button (AC) */
    font-size: 29px;
    color: var(--dark-btn-purple);
}

.calc-btn#remove-digit-btn{ /*styling the remove digit button ( <= )*/
    font-size: 27px;
    color: var(--dark-btn-purple);
}

.calc-btn#equal-btn{ /*styling the equal button (=)*/
    background-color:var(--dark-btn-purple);;
}

[btn-calc-val='(']{  /*styling button whose btn-calc-val is ( */
    font-size: 32px;
}

[btn-calc-val=')']{ /*styling button whose btn-calc-val is ) */
    font-size: 32px;
}

.calc-btn:hover{ /*changing cursor to hover for all calculator buttons*/
    cursor: pointer;
}


/* ............LIGHT-THEME............ */

.light-theme.purple .main{
    
}

.light-theme.purple .middlebox{  /*styling the main calculator box for light theme*/
    background-color: var(--light-mode-grey);
    color: #1e1e1e;
}

.light-theme.purple .display-area{ /*styling the display area*/
    background-color:#DFDFDF;
    color: #1e1e1e;
}

.light-theme.purple .display-box{
    
}

.light-theme.purple .dynamic-display-box{ /*styling the dynamic display box */
    color: var(--dark-btn-purple)
}

.light-theme.purple .calc-btns-container{ /*styling the calculator buttons container*/
    background-color: white;
}

.light-theme.purple .calc-btn{ /*styling all calculator buttons*/
    background-color: white;
    color:var(--dark-btn-purple);
    border:1px solid var(--dark-btn-purple)
}

.light-theme.purple .calc-btn#equal-btn{ /*styling the equal to btn (=)*/
    color:#FFFFFF;
}

.light-theme.purple .calc-btn#remove-digit-btn{ /*styling the remove digit button (<=)*/
    background-color: #f5f5f5 ;
    border:none;
    font-size:35px;
}

.light-theme.purple .calc-btn#all-clear-btn{ /*styling the all clear button (AC)*/
    background-color: var(--light-mode-grey);
    border:none;
    color:var(--dark-btn-purple);
    font-weight:600;
    font-size:30px;
}

.light-theme.purple .calc-btn.num-btn{ /* styling all number buttons ( 1 2 3 4 5 6 7 8 9 0)*/
    background-color: var(--light-mode-grey);
    border:none;
    color:#1e1e1e;
}


/* ............DARK-THEME............ */
.dark-theme.purple.body{ /*styling the body*/
    background-color: #151515;
}

.dark-theme.purple .main{ /*styling the main */
    background-color: #151515;
}

.dark-theme.purple .middlebox{ /*styling the calculator box*/
    background-color: rgb(15, 15, 15);
    border:none;
    box-shadow: -5px 5px 10px 0px #111;
}

.dark-theme.purple .display-area{ /*styling the display area*/
    background-color: rgb(15, 15, 15);
    color : #FFFFFF;
}

.dark-theme.purple .display-box{
    
}

.dark-theme.purple .dynamic-display-box{ /*stying the dynamic display area*/
    color : var(--dark-btn-purple);
}

.dark-theme.purple .calc-btns-container{ /*styling the calculator buttons container*/
    background-color: black;
    box-shadow: 0px -4px 5px 0px #111;
}

.dark-theme.purple .calc-btn{ /*styling all calculator buttons*/
    background-color: var(--dark-btn-dark-grey);
    color: var(--dark-btn-purple)
}

.dark-theme.purple .calc-btn#equal-btn{ /*stylign the equal to button(=)*/
    background-color: var(--dark-btn-purple);
    color:#FFFFFF;
}

.dark-theme.purple .calc-btn#remove-digit-btn{ /*styling the remove digit button ( <= ) */
    background-color: var(--dark-btn-purple-faded);
    color: var(--dark-btn-purple);
    font-size:35px;
}

.dark-theme.purple .calc-btn#all-clear-btn{ /*styling the all clear button(AC) */
    background-color: var(--dark-btn-purple-faded);
}

.dark-theme.purple .calc-btn.num-btn{ /*styling the numebr buttons (1 2 3 4 5 6 7 8 9 0)*/
    background-color: var(--dark-btn-grey);
    color:#FFFFFF;
}